div{
	width: 200px;
	height: 200px;
	position: static;
}

.rosa{
	background-color: #FF0080;
	position:static;	
	
}
.azul{
	background-color: #01DFD7;
	position: relative;
	left: 200px;
}
.morado{
	background-color: #8A0868;
	position: static;
	top: 50px;
	
}
body{
	margin: 0px;
	padding: 0px;
}

