div{
	width: 200px;
	height: 200px;
	position: static;
}

.rosa{
	background-color: #FF0080;
	position:static;	
	
}
.azul{
	background-color: #01DFD7;
	position: absolute;
	left: 200px;

}
.morado{
	background-color: #8A0868;
	position: static;
	
	
}
.verde{
	background-color: #04B486;
	position: static;
}
body{
	margin: 0px;
	padding: 0px;
}

