div{
	width: 200px;
	height: 200px;
	position: static;
}

.rosa{
	background-color: #FF0080;
	position:absolute;
	bottom: 50px;	
	
}
.azul{
	background-color: #01DFD7;
	position: relative;
	left: 500px;

}
.morado{
	background-color: #8A0868;
	position: absolute;	
	
}
.verde{
	background-color: #04B486;
	position: absolute;
	left: 500px;
}
body{
	margin: 0px;
	padding: 0px;
}

